body { 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding: 0px;
}
#icon_logo {	
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background-image: url(../images/icon-house.png);
	background-size: 32px 32px;
	z-index: 150;
}
.tab {
	position: absolute;
	top: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	z-index: 150;
	background-color: rgba(0,0,0,0.4);
}
.logo {
	display: inline;
	margin-left: 5%;
	font-family: 'Lato', 'Merriweather', sans-serif;
	font-size: 1em;
}
.logo a#logo1 {
	color: #FF6600; 
	text-decoration: none;
}
.logo a#logo2 {
	color: white; 
	text-decoration: none;
}
#about {
  margin-left: 3%;
  margin-right: 2%;
  list-style: none;
  display: inline;
  color:#FFF;
  text-decoration: none;
}
#contact {
  margin: 0px;
  list-style: none;
  display: inline;
  color:#FFF;
  text-decoration: none;
}
#about:hover {
  opacity: .8;
}
#contact:hover {
  opacity: .8;
}

.background {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-size: cover;
background-position: center;
position: relative;
z-index: 100;
overflow: hidden;
opacity: 0.95;
}
.background_alt {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-size: cover;
background-position: center;
position: relative;
z-index: 100;
overflow: hidden;
opacity: 0.95;
}
.background h1 {
    position: absolute;
    z-index: 50;
    font-size: 54px;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    color: white;
}
.background_alt h2 {
    height: 100%;
    padding: 10%;
    z-index: 50;
    font-size: 42px;
    text-align: center;
    color: white;
}
.background_alt h3 {
    position: absolute;
    z-index: 50;
    height: 100%;
    font-size: 54px;
    text-align: center;
    top: 40%;
    left: 0;
    right: 0;
    color: white;
}
.background iframe {
    position: absolute;
    z-index: 50;
    top: 65%;
    bottom: 0%;
    left: 20%;
    right: 0%;
}
.share-button {
	position: absolute;
    z-index: 500;
    top: 7%;
    right: 1%;
}
@media screen and (max-width: 600px) {
.share-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 500;
    top: 15%;
}
}  
.share-button.sharer-0 label.entypo-export {
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 5px 10px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	z-index: 150;
	color: white;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	font-size: 0.7em;
}